<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Take Card</h2>
    <hr>
    <form action="/patron" method="post">
      <input type="number" name="patronId">
      <button type="submit">Patron Status</button>
    </form>
    <p>@Model</p>
    <hr>
    <a href="/check-in">Switch to Check-In</a>
  </body>
</html>
