<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Circulation</h2>
    <hr>
    <h3>New Patron</h3>
    <form action="/patron/new" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name">
    </form>
    <hr>
    <a href="/check-in">Check-In</a>
    <a href="/check-out">Check-Out</a>
    <a href="/overdue">Over-Due Books</a>
  </body>
</html>
