<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Library</h2>

    <a href="/references"><h3>References</h3></a> <a href="/circulation"><h3>Circulation</h3></a> <a href="/catalog"><h3>Catalogue</h3></a><a href="/patrons"><h3>Patrons</h3></a>
  </body>
</html>
