<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Find a Book.</h2>
    <form  action="/search" method="post">
      <input type="text" name="search">
      <select  name="searchdef">
        <option value="author">Author</option>
        <option value="title">title</option>
      </select>
      <button type="submit" name="button">Search</button>

    </form>

    <h2>Results</h2>
    @if (Model.Count != 0)
    {
      <ul>
        @foreach(var book in Model)
        {
          <li><a href="/books/@book.id">@book.title</a></li>
        }
      </ul>
    }
      else
    {
      <h3>No search results</h3>
    }
    <hr>
    <a href="/"><h3>Return home</h3></a>
  </body>
</html>
